<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="../homepage/homepage.css" />
        <link rel="stylesheet" href="../homepage/bs_leftnavi.css" />
        <link rel="stylesheet" href="../header/header.css">
        <link rel="stylesheet" href="../footer/footer.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <% include ./header/header %>
    <% include ./homepage/detailquestion %>
    <% include ./footer/footer %>
    <script type="text/javascript" src="../homepage/homepage.js"></script>
    <script type="text/javascript" src="../homepage/bs_leftnavi.js"></script>
</body>
</html>