<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="../homepage/homepage.css" />
        <link rel="stylesheet" href="../homepage/quizSet.css" />
        <link rel="stylesheet" href="../header/header.css">
        <link rel="stylesheet" href="../footer/footer.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <% include ./header/header %>
    <% include ./homepage/quizSet %>
    <% include ./footer/footer %>
</body>
</html>