<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="../header/header.css">
        <link rel="stylesheet" href="../footer/footer.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body style="margin : 0px">
    <% include ./header/header %>
    <% include ./adminpage/admin %>
    <% include ./footer/footer %>
</body>
</html> 