<footer>
  <div class="footer">
    <span class="copyright">@Duc Nguyen</span>
    <div>
      <a href="" class="footer-item"
        ><i class="fas fa-address-card"></i> About Us</a
      >
      <a href="" class="footer-item"
        ><i class="fas fa-book"></i> Term and Condition</a
      >
      <a href="" class="footer-item"
        ><i class="fas fa-question-circle"></i> FAQ</a
      >
      <a href="" class="footer-item"><i class="fas fa-flag"></i></a>
    </div>
  </div>
</footer>
