
  <body>
    <div class="wrapper">
    <div class="main-bar">
      <div class="card">
        <div class="bottom">
          <a class="title" href="#"> Triet Hoc Mac-Lenin</a>
          <div class="rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <div class="set-info">
            <b> <i class="fas fa-question"></i> 10 questions</b>
            <b><i class="fas fa-clock"></i> 20 minutes</b>
            <b> <i class="fas fa-user"></i> 30 access</b>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            suscipit recusandae repellendus odit maiores corrupti ab laudantium
            enim inventore, illo dolore distinctio labore facilis, aut harum
            libero, eaque qui maxime.
          </p>
          <div class="set-info">
            <a href="#">#Mac-Lenin</a>
            <b> <i class="fas fa-calendar"></i> 26/12/1998</b>
          </div>
        </div>
      </div>
      <div class="button-enroll">
        <a style="display: block" href="http://localhost:8080/quizset">Enroll</a>
      </div>
    </div>
    <div class="side-bar">
        <div class="Leaderboard">
            <div class="Title">Leaderboard</div>
            <ul>
              <li class="Person">
                <div class="Image" style="background-image: url(&quot;http://lorempixel.com/105/105&quot;);"></div>
                <div class="Name">Bill Hader</div>
                <div class="Score">9/10</div>
              </li>
              <li class="Person">
                <div class="Image" style="background-image: url(&quot;http://lorempixel.com/120/120&quot;);"></div>
                <div class="Name">Sebastian Lofgren</div>
                <div class="Score">9/10</div>
              </li>
              <li class="Person">
                <div class="Image" style="background-image: url(&quot;http://lorempixel.com/101/101&quot;);"></div>
                <div class="Name">Salvador Dali</div>
                <div class="Score">9/10</div>
              </li>
              <li class="Person">
                <div class="Image" style="background-image: url(&quot;http://lorempixel.com/100/100&quot;);"></div>
                <div class="Name">John Hancock</div>
                <div class="Score">9/10</div>
              </li>
              <li class="Person">
                <div class="Image" style="background-image: url(&quot;http://lorempixel.com/110/110&quot;);"></div>
                <div class="Name">Donald Trump</div>
                <div class="Score">9/10</div>
              </li>
            </ul>
          </div>
        </div>     
      </div>
    </div>
  </body>
