
  <body>
    <div class="wrapper">
      <div class="side-bar">
            <div class="nano-content">
              <ul class="gw-nav gw-nav-list">
                <li class="init-arrow-down">
                  <a href="javascript:void(0)">
                    <span class="gw-menu-text">Quiz</span>
                    <b class="gw-arrow"></b>
                  </a>
                  <ul class="gw-submenu">
                    <li><a href="javascript:void(0)">Suggestions</a></li>
                    <li><a href="javascript:void(0)">History</a></li>
                    <li><a href="javascript:void(0)">Saved</a></li>
                  </ul>
                </li>
                <li class="init-arrow-down">
                  <a href="javascript:void(0)">
                    <span class="gw-menu-text">Analytic</span>
                    <b class="gw-arrow icon-arrow-up8"></b>
                  </a>
                  <ul class="gw-submenu">
                    <li><a href="javascript:void(0)">Menu 1</a></li>
                    <li><a href="javascript:void(0)">Menu 2</a></li>
                    <li><a href="javascript:void(0)">Menu 3</a></li>
                  </ul>
                </li>
              </ul>
        </div>
      </div>
      <div class="main-bar">
        <div class="cards-mansory clearfix"></div>
      </div>
    </div>
  </body>
 