<div class="wrapper">
  <div class="side-bar">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: white;">
        <h2>Progress</h2>
      </div>
      <div id="div2" class="panel-body">
        <div class="panel panel-default" style="border-radius: 0;">
          <div id="div" class="panel-heading">
            <img
              class="img-responsive"
              src="https://singularityhub.com/wp-content/uploads/2017/02/best-innovators-most-beautiful-questions-2-1068x601.jpg"
              alt="quiz-exemple"
            />
          </div>
          <div class="panel-body"><h4>Title</h4></div>

          <div class="panel-footer">
            Your Progress<br />
            <p id="questCount"></p>
            <div id="barra" class="progress">
              <div
                id="bar"
                class="progress-bar"
                role="progressbar"
                aria-valuenow="1"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width:50%"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-bar">
    <div class="quiz-results">
      <div class="quiz-results-container">
        <h3 class="quiz-results-score"></h3>
        <ul class="quiz-results-list"></ul>
      </div>
      <div class="quiz-results-controller">
        <div class="mm-back-btn">
          <button>Back</button>
        </div>
      </div>
    </div>

    <div class="quiz-bottom">
      <div class="quiz-container">
        <div class="quiz-page active" data-page="1">
          <div class="mm-survery-content">
            <div class="quiz-question">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Incidunt debitis eaque earum. Officia ipsa, itaque mollitia
                minus vel porro doloremque error repellendus sunt beatae!
                Adipisci ipsum id neque ad assumenda?
              </p>
            </div>
            <div class="quiz-item">
              <input
                type="radio"
                id="radio01"
                data-item="1"
                name="radio1"
                value="red"
              />
              <label for="radio01"
                ><span></span>
                <p>A</p></label
              >
            </div>
            <div class="quiz-item">
              <input
                type="radio"
                id="radio02"
                data-item="1"
                name="radio1"
                value="blue"
              />
              <label for="radio02"
                ><span></span>
                <p>B</p></label
              >
            </div>
            <div class="quiz-item">
              <input
                type="radio"
                id="radio03"
                data-item="1"
                name="radio1"
                value="green"
              />
              <label for="radio03"
                ><span></span>
                <p>C</p></label
              >
            </div>
            <div class="quiz-item">
              <input
                type="radio"
                id="radio04"
                data-item="1"
                name="radio1"
                value="purple"
              />
              <label for="radio04"
                ><span></span>
                <p>D</p></label
              >
            </div>
          </div>
        </div>
      </div>

      <div class="quiz-controller">
          <button>Prev</button>
          <button>Next</button>
        <div class="mm-finish-btn btn">
          <button>Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
